body {
    font-family: Arial, sans-serif;
    --default-color: rgb(26, 152, 220);
    --secondary-color: rgb(247,170,47);
    --tertiary-color:  rgb(223, 221, 221);
    height: 100vh;
    --icon-height: 2rem;
}

.icon {
    height: var(--icon-height);
    filter: invert(100%);
}

.icon2 {
    height: 1.5rem;
}

#magnify {
    height: 1rem;
}

form {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

.menu {
    background-color: var(--default-color);
    color: white;
    grid-area: 1/1/3/2;
    font-weight: 700;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    padding: 10px;
}


.logo {
    font-size: 1.5rem;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo .icon {
    height: 3rem;
}

.menu-item.communities {
    grid-row: 8/10;
    align-self: flex-start;
}

.header {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
}

.header-top {
    display: grid;
    grid-template-columns: repeat(1, 6fr) repeat(3,1fr);
    gap: 5px; 
    justify-content: flex-end;
    grid-area: 1/1/2/2;
}

.header-bottom {
    display: grid;
    flex-direction: row;
    grid-area: 2/1/3/2;
    grid-template-columns: repeat(1, 6fr) repeat(3,1fr);
    gap: 5px
}

.greeting {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.greeting p {
    margin: 0;
    padding: 0;
}

.greeting :last-child {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-button {
    background-color: var(--default-color) ;
    color: white;
    border: none;
    border-radius: 16px;
    align-self: center;
    width: 6rem;
    height: 2rem;
}

#search-bar {
    border: none;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    width: 75%;
}

.content {
    background-color:var(--tertiary-color);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.projects :first-child {
    grid-area: 1/1/2/3;
}

.announcements {
    grid-area: 1/2/2/3;
    padding: 10px;
}

.trending {
    grid-area: 2/2/3/3;
    padding: 10px;
}

.content>div>p {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.announcement, .account-text {
    padding: 2px;
}

.announcement p, .card-text p {
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    border-left: 8px solid var(--secondary-color);
    border-radius: 4px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.card-text :last-child {
    color: var(--tertiary-color);
}

.announcement-text, .trending-text {
    background-color: white;
    border-radius: 4px;
    height: 83%;
    position: relative;
    top: 4%;
    display: grid;
    padding: 1rem;
}

.account, .announcement {
    padding: 4px;
    align-self: center;
}

.announcement :last-child, .name {
    color: var(--tertiary-color)
}